@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
html {
  position: relative;
  min-height: 100%;
}
body{
	background-color: #582630;
	font-family: 'Josefin Sans'; 
	color: #f1a66a;
	margin-bottom: 60px;
}

a.btn, input[type="submit"]{
	background-color: #331111;
	/*border-color: #1c0909;*/
	border: 1px solid #1c0909;
	color: #f1a66a;
	transition: background-color 0.4s ease-in-out;

}

a.btn:hover, input[type="submit"]:hover{
	background-color: #a54657;
	color: #331111;
	border: 1px solid #1c0909;
	transition: background-color 0.4s ease-in-out;
}

a.btn:active{
	background-color: #a54657;
	color: #331111;
	border: 1px solid #1c0909;
}

.j-link:hover{
	text-decoration: none;
}

.right{
	float:right;
}

.foot{
	width: 100%;
	text-align: center;
	color: #f9dbbd;
	background-color: #a54657;
	/*margin-top: 50px;*/
	padding-top: 20px;
	position: absolute;
	bottom: 0px;
	height: 60px;
}

.footer{
	width: 100%;
	text-align: center;
	color: #f9dbbd;
	background-color: #a54657;
	margin-top: 50px;
	padding-top: 40px;

}
.j-main{
	background: url('../img/j1.png') no-repeat;
	background-size: 100%;
	text-align: center;
	color: #f1a66a;
	text-shadow: 0px 0px 5px #f1a66a;
}

.j-date{
	background: url('../img/date.png') no-repeat;
	background-size: 100%;
	color: #f1a66a;
	text-align: center;
	text-shadow: 0px 0px 5px #f1a66a;
}

.j-trip{
	background: url('../img/trip.png') no-repeat;
	background-size: 100%;
	color: #f1a66a;
	text-align: center;
	text-shadow: 0px 0px 5px #f1a66a;
}

.j-places{
	background: url('../img/place.png') no-repeat;
	background-size: 100%;
	color: #f1a66a;
	text-align: center;
	text-shadow: 0px 0px 5px #f1a66a;
}

.icon-bar{
	background-color: #f9dbbd !important;
}
.navbar a{
	color: #f9dbbd;
	transition: background-color 0.4s ease-in-out;

}

.nav a:hover{
	background-color: #331111 !important;
	transition: background-color 0.4s ease-in-out;
}

.navbar{
	background: #a54657;
}


.dropdown-menu, .dropdown-toggle:visited{
	background: #a54657 !important;

}

.dropdown-toggle:active, .open .dropdown-toggle{
	background: #331111 !important;

}

a.dd{
	color: #f9dbbd !important;
}

.marketing{
	padding-left: 50px;
}

.right{
	position: center-right;
}
.txt{

text-decoration: none;
	color: #f1a66a !important;
underline: none;

}

.txt a:hover{

text-decoration: none;
	color: #f1a66a !important;
underline: none;

}

hr{
 border-color:#f9dbbd;
}

.middle{
	display:block;
	text-align: center;
	margin-bottom: 50px;
}

.section-a{
	background:#331111;
	color:#f9dbbd;
	text-align: center;
	padding:50px;
	margin-bottom:30px;
}

.box{
	text-align: center;
}

.box .glyphicon{
	font-size:50px;
}
.well{
	background:#a54657;
	/**border-color:  !important;*/
	border: 1px solid #331111;
}

.well-t{

	background: #331111;
	color: #f9dbbd;
}


.poi{
	border-bottom: 1px dashed #f9dbbd;
	
}

.indent{
	text-indent: 40px;
}


input[type="text"], textarea.form-control, select.form-control {

  background-color : #f9dbbd; 
	color:#331111;
	border: 2px solid #f9dbbd;
}

.big{
	font-size: 20px;
}

.list-group-item{
	background-color:#331111;
	border:1px solid #1c0909;
	color: #f1a66a;
}